<h2> Find Song by Category </h2>
  <%= link_to "White Tea", songs_path(:white_tea=>"white_tea") %>

<ul>
  <% @songs.each do |song| %>
    <li>
      URL: <%= link_to song.url, song.url%><br />
      <%= embed(song.url) %><br />
      <!-- LENGTH: <%= song.duration %> seconds <br /> -->
      COMMENT: <%= song.comment %> <br />
      <%= link_to "Show song", song_path(song), class: 'btn btn-success' %><br />
      <%= link_to "Edit song", edit_song_path(song), class: 'btn btn-info' %><br />
      <%= link_to "Delete song", song_path(song), method: :delete, class: 'btn btn-warning' %>
      <p><%= song.category %></p>
    </li>
    <br />
  <% end %>
</ul>

<%= link_to new_song_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-plus"></i> Add new song
<% end %>
