
<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to song.url, song.url%>
      <%= song.length %> seconds
      <%= song.comment %>
      <%= link_to "Show song", song_path(song) %>
      <%= link_to "Edit song", edit_song_path(song) %>
      <%= link_to "Delete song", song_path(song), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Add new song", new_song_path %>
