
<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to song.url, song.url%><br />
      <%= song.length %> seconds <br />
      <%= song.comment %> <br />
      <%= link_to "Show song", song_path(song) %><br />
      <%= link_to "Edit song", edit_song_path(song) %><br />
      <%= link_to "Delete song", song_path(song), method: :delete %>
    </li>
    <br />
  <% end %>
</ul>

<%= link_to "Add new song", new_song_path %>
