%h2 one song
%p= link_to @song.url, @song.url
%div
  = embed(@song.url)
%p
  = @song.duration
  seconds
%p
  Comment: #{@song.comment}
= link_to songs_path, class: 'btn btn-info' do
  %i.glyphicon.glyphicon-music
  Back to all songs
