<h2>one song</h2>

<p><%= link_to @song.url, @song.url %></p>
<div>
  <%= embed(@song.url) %>
</div>
<p><%= @song.length %> seconds</p>
<p>Comment: <%= @song.comment %></p>

<p><%= link_to "back to all songs", songs_path %></p>
