<h2>one song</h2>

<p><%= link_to @song.url, @song.url %></p>
<div>
  <%= embed(@song.url) %>
</div>
<p><%= @song.duration %> seconds</p>
<p>Comment: <%= @song.comment %></p>

<%= link_to songs_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-music"></i> Back to all songs
<% end %>
