<!DOCTYPE html>
<html>
<head>
  <title>SteepingTea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="main-container" class="container">
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>
      <%= link_to edit_user_registration_path do %>
        Edit Profile
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do  %>
        Logout
      <% end %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path  %> |
      <%= link_to "Login", new_user_session_path %>
    <% end %>
      <div class="row">
        <div class="col-xs-12">
          <h1><%= link_to "Steeping Tea", songs_path %></h1>
        </div>
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>






</body>
</html>
